.leftSideBar {
    max-width: 280px;
    min-width: 220px;
    height: auto;
    min-height: 80vh;
    background: var(--navy-blue);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    backdrop-filter: blur(4px);
    border: 0;
    border-top: 5px solid var(--border-color);
    transition: all .1s linear;
    z-index: 0;
    box-shadow: var(--bx-sidebar-shadow);
    box-sizing: border-box;
}

.dashboardTitle>h4 {
    border-bottom: .1px solid var(--border-color);
    padding: .5rem 0;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboardTitle h4>span {
    display: inline-block;
    font-size: 1.5rem;
    padding: .25rem;
}

.dashboardIcon {
    /* margin-bottom: .25rem; */
    color: var(--icon-color);
    /* cursor: pointer; */
}

.leftSidebarMenu {
    margin-top: 2rem;
}

.dashboardIconView {
    text-align: center;
    margin-right: .5rem;
    margin-bottom: .25rem;
    font-size: 1.45rem;
}